.background{
   background-image:url(../../../assets/images/fondoPlatoBlanco.png);
   width: 100%;
   height: 100%;
    
}

.background1{
  background-image:url(../../../assets/images/fondoComentarios2.png);
  width: 100%;
  height: 100%;
}
.cajaTexto{
  height: 240px;
  background-color: #4e1a027d;
  border-radius: 40px;
  text-align: center;
  color: #ffffff;
  font-family: OpenSans-Italic-VariableFont_wdth, wght !important;
  font-size: 1.4em;
}


  
  .gridEtiquetas{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-start;
  }

  .gridEtiquetas1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 90%;
    margin-left: 5%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

  ion-card {
    background-color: #00000000;
    text-align: center;
  }
  
  .textoComentarioTitulo{
    color: #ff4800;
    font-size: 2.5em;
    font-family: Julius-Sans-One !important;
    text-shadow: 0 0 black;
  
  }

.textoContenido{
  color: #ffffff;
  font-size: 1.7em;
  font-family: OpenSans-Italic-VariableFont_wdth,wght !important;
  text-shadow: 0 0 black;

}
span{
  font-size: 20px;
    font-family: Inter-Bold;
    color: #551e02;
}

.Log-In {
  color: #a5cdbb;
  font-family: 'Inter-Thin';
}

.BG {
    //arriba - derecha - abajo - izquierda
    //margin: 44px 30px 18px 30px;
    margin: 2%;
    height: 150px !important;
    width: 96%;
    min-height: 20px;
    max-height: 150px;
    border: solid 4px #f6f6f6;
    border-radius: 15px;
    background-color: #f6f6f6;
}


.Email {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.Password {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.Show {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #5db075;
}

.Olvidaste-tu-contrasea {
    font-family: Inter-Thin !important;
    margin: 0.5em 1.5em 1.5em 2.5em;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8ecb8c;
  }

  .ButtonLogin {
    margin:  3em 2.25em 0.5em 2.25em;
  }

  .O-inicia-sesin-con {
    margin: 3.5em 0em 0.5em 0em;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #91d08f;
  }

  .centrarLogo{
    display: flex;
    justify-content: space-between;
  }

  h2{
    margin-top: 18px;
    font-size: 24px;
    color: #fb6400;
    font-family: serif;
  }
  .redeSociales {
    width: 73px;
    border-radius: 150px;
  }
  .imagenLogo{
    zoom: 4;
    border-radius: 10px;
  }

  .ButtonRedesSociales {
    min-height: 75px !important;
    max-width: 85px !important;
    margin:  0.2em 0.2em 0.5em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    
  }

  .footerDerechosAutor {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .derechosAutor {
    font-family: Inter-Thin !important;
    margin: 0.5em 1.5em 1.5em 2.5em;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ead2a1;
    
  }

ion-item::part(native):hover {
    background: #f6f6f6;
    color: rgb(255, 255, 255);
}



.item-input ion-label{
    pointer-events:all!important;
}

.img{
  display: block;
  width: 100%;
  height: 100%;
  object-position: inherit;
  border-radius: 11px;
}

