<ion-app >
  <ion-header class="ion-no-border" collapse="fade">
    <ion-toolbar>
     
      
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <div class="centrarLogo">
        <H2>Bienvenido</H2>
        <div class="redeSociales">
          <ion-img class="img"  src="../../../assets/images/logo1.png" ></ion-img>
  
        </div>
        
      </div>
    </ion-toolbar>
  </ion-header>

  

  <ion-content >
    <div style="height:100% ; width:100% ; display: contents;">
      <ion-slides style="height: 90% ;" pager="true" [options]="slideOpts">
        <ion-slide>
          
          <ion-img  src="../../../assets/images/slide1.png"></ion-img>
          
        </ion-slide>

        <ion-slide>
          
          <ion-img  src="../../../assets/images/slide2.png"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img  src="../../../assets/images/slide3.png"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>

    <div style="height: 40px ;">

    </div>

    <div class="background">
    
      <div class="gridEtiquetas1">
        <!--Colocar la imagen del restaurante dueno de la aplicacion-->
        <div>
          <ion-card>
            <ion-card-header>
              <ion-label class="textoContenido">
                Por favor ayudanos a mejorar nuestro restaurante.<br>
                Para hacerlo solo tienes que opinar <br> 
                acerca de nuestro servicios 
                <Br>Lo que tu piensas es importante para nosotros.
              </ion-label>
            </ion-card-header>
          </ion-card>
        </div>
        

        <div style="min-width:48%;" >
          <form (ngSubmit)="guadarComentario()" [formGroup]="comen">
              <ion-textarea #textComment
                placeholder="Añade un comentario"
                type="text"
                formControlName="comentario"
                required
                [value]="comentario1"
                 class="cajaTexto">
              </ion-textarea>
              <ion-note  slot="error" *ngIf="(comentario.dirty || comentario.touched) && comentario.errors">no es Valido</ion-note>
            <ion-button class="ButtonLogin" (click)="showLoading()"   type="submit" [disabled]="!comen.valid">
              <span style=" font-size: 20px; font-family: Inter-Bold ">Agregar comentario</span> 
            </ion-button>
          </form>
        </div> 
    </div>
      
  </div>


  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>


  

  
</ion-app>


