<ion-app>
  <ion-header class="ion-no-border" collapse="fade">
    <ion-toolbar class="Page-Header">
      <ion-title class="Log-In" >COMENTARIOS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div style="margin-top: 0.5em">
      <!--Colocar la imagen del restaurante dueno de la aplicacion-->
      <div  class="redeSociales" >
        <ion-icon src="../../assets/icon/terracerestaurant.svg" style="zoom:17.0;"></ion-icon>
      </div>
    </div>
    
  
  </ion-content>
  
  
  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
