<ion-content>
</ion-content>


<ion-tabs>
 <!--  <ion-router-oulet></ion-router-oulet> -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="admin-perfil">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-resumen">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Comentarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adminkeywords">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Resturante</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admintop10">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Graficas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!--
  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
  -->
</ion-tabs>
