<ion-content>
</ion-content>


<ion-tabs>
 <!--  <ion-router-oulet></ion-router-oulet> -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="admin-perfil">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>admin-perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-resumen">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>admin-resumen</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="adminkeywords">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>adminkeywords</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admintop10">
      <ion-icon name="map"></ion-icon>
      <ion-label>admintop10</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-tabs>
