<ion-content>
  <div class="Rectangle-240"></div>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="admin-perfil">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>admin-perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-resumen">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>admin-resumen</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="adminkeywords">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>adminkeywords</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admintop10">
      <ion-icon name="map"></ion-icon>
      <ion-label>admintop10</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>