<ion-app>
<ion-header>
    <div class="Rectangle-239">
      <div class="logoInicio">
        
        <ion-title class="title">Perfil Administrador</ion-title>
        <ion-icon src="../../../assets/icon/sushi.svg" class="Ellipse-6" slot="end"></ion-icon>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

      </div>
      
    </div>
   
</ion-header>

<ion-content>

  <ion-card>
    
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  </ion-card>

  <ion-card>
    <div class="chart-container">
      <canvas id="myChart1"></canvas>
    </div>
  </ion-card>
  
   

  
   
   

</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <div class="footerDerechosAutor">
      <ion-label class="derechosAutor">
        &#169; 2022 Todos los derechos reservados | Developed by JB & KB
      </ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
</ion-app>