<ion-app>
<ion-header>
    <div class="Rectangle-239">
      <div class="logoInicio">
        
        <ion-title class="title">Perfil Administrador</ion-title>
        <ion-icon src="../../../assets/icon/sushi.svg" class="Ellipse-6" slot="end"></ion-icon>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

      </div>
      
    </div>
   
</ion-header>



<ion-content fullscreen >

  <div>
    <!--Colocar la imagen del restaurante dueno de la aplicacion-->
    <div class="redeSociales">
      <ion-icon src="../../assets/icon/terracerestaurant.svg" style="zoom:15.0;"></ion-icon>
    </div>
  </div>



  <div >
    <div  style="display: flex; flex-direction: row; flex-wrap: wrap;     align-self: flex-start">
      <ion-grid >
          <ion-card style="min-height: 360px; max-width: 355px;">
            <div class="chart-container">
              <canvas  id="pastel1"></canvas>
            </div>
  
            
          </ion-card>
  
      </ion-grid>


      <ion-grid>

        <div >
          
            <ion-card>
              <ion-header>
                
              </ion-header>
            </ion-card>
            <ion-card style="min-width:355px ;"  >
              <div class="chart-container">
                <canvas id="linear1"></canvas>
              </div>
            </ion-card> 

       </div>
      </ion-grid>


      <ion-grid>

        <div >
          <ion-grid>
            
            <ion-card style="min-width:355px ;" >
              <div class="chart-container">
                <canvas id="bar1"></canvas>
              </div>
        
            </ion-card>
          </ion-grid>

      
       </div>
      </ion-grid>
      

  </div>


  </div>

  
  
</ion-content>



</ion-app>