
<ion-header>
  <ion-toolbar class="Page-Header">
    <div class="Rectangle-239">
      <div class="logoInicio">
        
        <ion-title class="title">Perfil Administrador</ion-title>
        <ion-icon src="../../../assets/icon/sushi.svg" class="Ellipse-6" slot="end"></ion-icon> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
      </div>
    
      

    </div>
  </ion-toolbar>
   
</ion-header>

<ion-content>
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
   </div>
</ion-content>
