<ion-app>
<ion-header>
  <ion-toolbar class="Page-Header">
    <div class="Rectangle-239">
      <div class="logoInicio" >
        
        <ion-title class="title">Perfil Administrador</ion-title>
        <ion-icon src="../../../assets/icon/sushi.svg" class="Ellipse-6" slot="end"></ion-icon> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
      </div>
    
      

    </div>
  </ion-toolbar>
   
</ion-header>

<ion-content>

  <div style="margin-top:-50px ;">
    <!--Colocar la imagen del restaurante dueno de la aplicacion-->
    <div class="redeSociales">
      <ion-icon src="../../assets/icon/terracerestaurant.svg" style="zoom:12.0;"></ion-icon>
    </div>
  </div>

  <div>

    
  </div>


  <div style="display: flex; flex-direction: row; flex-wrap: wrap; text-align: center;
  justify-content: center;">
    
      <div >
        <ion-grid>
          <ion-card style="min-height: 300px; max-width: 360px;" >
            <ion-card-header>
              <ion-card-subtitle>Top Palabras Más Importantes </ion-card-subtitle>
              <ion-card-title>Resumen Total</ion-card-title>
            </ion-card-header>
      
            <ion-card-content>
              <img [src]="imagenKeywords3" />
            </ion-card-content>
          </ion-card>

        </ion-grid>
      </div>
             
      
 
    
    
      <div >
        <ion-grid>
          <ion-card style="min-height: 300px; max-width: 360px;">
            <ion-card-header>
              <ion-card-subtitle>Top Palabras Más Importantes </ion-card-subtitle>
              <ion-card-title>Comentarios Positivos</ion-card-title>
            </ion-card-header>
          
            <ion-card-content >
              <img [src]="imagenKeywords1" />
            </ion-card-content>
          </ion-card>

        </ion-grid>
      </div>
                
    
   
      <div >
        <ion-grid>
          <ion-card style="min-height: 300px; max-width: 360px;">
            <ion-card-header>
              <ion-card-subtitle>Top Palabras Más Importantes </ion-card-subtitle>
              <ion-card-title>Rango de Fecha</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <img [src]="imagenKeywords2" />
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </div>
      
  
  </div>


</ion-content>


<ion-footer collapse="fade">
  <ion-toolbar>
    <div class="footerDerechosAutor">
      <ion-label class="derechosAutor">
        &#169; 2022 Todos los derechos reservados | Developed by JB & KB
      </ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
</ion-app>