.Rectangle-239 {
    width: 100%;
    height: 60px;
    background-color: #5d9ad1;
  }
  
  .title {
   
    font-family: Inter-Bold !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fdfdfd;
    
}

.logoInicio{
    width: 100%;
    align-items: center;
}
  .Ellipse-6 {
    width: 10%;
    zoom: 3.5;
    float: right;
    margin-right: 2%;
  }

.chart-container{
  position: relative;
  margin:auto;
}