<ion-app>
  <ion-header class="ion-no-border" collapse="fade">
    <ion-toolbar class="Page-Header">
      <ion-title class="Log-In" >REGISTRARSE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div >
      <!--Colocar la imagen del restaurante dueno de la aplicacion-->
      <div  class="redeSociales" >
        <ion-icon src="../../assets/icon/terracerestaurant.svg" style="zoom:7.0;"></ion-icon>
      </div>
    </div>
    
    <div style="margin-top: 1em">
      <ion-item-group>

        <ion-item class="BG">
          <ion-input
            class="nombre"
            style="padding-inline-start: 0%"
            placeholder="Nombres"
            type="nombre"
            [(ngModel)]="nombres"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="BG">
          <ion-input
            class="apellidos"
            style="padding-inline-start: 0%"
            placeholder="Apellidos"
            type="apellidos"
            [(ngModel)]="apellidos"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="BG">
          <ion-input
            class="Email"
            style="padding-inline-start: 0%"
            placeholder="Email"
            type="email"
            [(ngModel)]="email"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="BG">
          <ion-input
            class="Password"
            placeholder="Contraseña"
            type="password"
            [(ngModel)]="password"
            required
          ></ion-input>
          <ion-label class="Show" (click)="mostrarPassword()">Mostrar</ion-label>
        </ion-item>

        <ion-item class="BG">
          <ion-input
            class="Password2"
            placeholder="Confirmar Contraseña"
            type="password2"
            [(ngModel)]="password2"
            required
          ></ion-input>
          <ion-label class="Show" (click)="mostrarPassword()">Mostrar</ion-label>
        </ion-item>


      
      </ion-item-group>
      <ion-button color="loginbutton" class="ButtonLogin" (click)="registrar()"><span style=" color: #f6f6f6; font-size: 20px; font-family: Inter-Bold ">Registrar</span> </ion-button>
      
      <div>
        <ion-label class="O-inicia-sesin-con">O registrate con:</ion-label>

        <div  class="redeSociales" >
          
          <ion-button color="primary" class="ButtonRedesSociales" (click)="registrarConFacebook()">
            <ion-icon name="logo-facebook" style="zoom:3.0;"></ion-icon>
          </ion-button>

          <ion-button color="light" class="ButtonRedesSociales" (click)="registrarConGoogle()">
            <ion-icon src="../../assets/icon/iconGmail.svg" style="zoom:3.0;"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-content>
  
  
  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
