
.Page-Header {
    margin-top: 1em;
}



.imagenCentrada {
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-item::part(native):hover {
    background: #f6f6f6;
    color: #000;
}



.item-input ion-label{
    pointer-events:all!important;
}


