////////////////////////////css para encabezado

.background{
    background-image:url(../../../assets/images/fondoListarComentario.png);
    width: 100%;
    min-height: 100%;
     
 }

 .centrarLogo{
    display: flex;
    justify-content: space-between;
  }

  .redeSociales {
    width: 73px;
    border-radius: 150px;
  }

  .img{
    display: block;
    width: 100%;
    height: 100%;
    object-position: inherit;
    border-radius: 11px;
  }
  
  h2{
    margin-top: 18px;
    font-size: 24px;
    color: #fb6400;
    font-family: serif;
  }

////////////////////////////////////////////////////////////////////////

/////////////////////css para footer 

.footerDerechosAutor {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .derechosAutor {
    font-family: Inter-Thin !important;
    margin: 0.5em 1.5em 1.5em 2.5em;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ead2a1;
    
  }

  /////////////////////////////////////////////////////////

  .gridEtiquetas1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 90%;
    margin-left: 5%;
    min-height: 100%;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
  }

.estiloTarjetaBorde{
  background: #ff5722;
    border-radius: 20px;
    padding: 0px;
    max-width: 370px;
}
.estiloTarjeta{
  height: 200px;
  max-height: 300px;
  min-width: 300px;
  border-radius: 20px;
}

.Page-Header {
    margin-top: 1em;
}



.imagenCentrada {
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-item::part(native):hover {
    background: #f6f6f6;
    color: #000;
}



.item-input ion-label{
    pointer-events:all!important;
}


