

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="usuario-comentario">
      <ion-icon name="chatbubble-ellipses"></ion-icon>     
      <ion-label>Nuevo Comentario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario-lista-comentarios">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>Lista de comentarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario-perfil">
      <ion-icon name="person-circle"></ion-icon>      
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footerDerechosAutor">
        <ion-label class="derechosAutor">
          &#169; 2022 Todos los derechos reservados | Developed by JB & KB
        </ion-label>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-tabs>
