

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="usuario-comentario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>usuario-comentario</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="usuario-add-info">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>usuario-add-info</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="usuario-lista-comentarios">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>usuario-lista-comentarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario-perfil">
      <ion-icon name="circle"></ion-icon>
      <ion-label>usuario-perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
